* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

header {
    background-color: #24305e;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    margin: 8px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.players {
    margin: 16px;
    padding: 8px;
    /* border: 4px solid black; */
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 25%);
    position: relative;
    width: 100vw;
    max-width: 300px;
}

.scores {
    padding: 4px 16px;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
}

.choices {
    font-size: 70px;
    margin-top: 8px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    /* transform: all 0.5s ease; */
}

#rock, #paper, #scissors {
    cursor: pointer;
}

.result {
    text-align: center;
    font-size: 18px;
}

.selection {
    background-color: #F8E9A1;
    border-radius: 5px;
    zoom: 1.15;
    /* animation: ease-out; */
}

.action {
    text-align: center;
    margin-top: 15px;
}

button {
    padding: 4px 10px;
    font-size: 15px;
    font-family: inherit;
    border-radius: 5px;
}

button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.footer {
    position: fixed;
    padding: 6px;
    font-size: .75rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24305e;
    color: white;
    text-align: center;
  }

  i {
      color: white;
      font-size: 1rem;
      margin-right: 3px;
  }